/*      font-family: 'Nanum Gothic', sans-serif;
        font-family: 'Do Hyeon', sans-serif;
        font-family: 'Gothic A1', sans-serif;
        font-family: 'Nanum Myeongjo', serif;
        제품서브 HY견고딕체 없어서 여러개 가져와봄 골라쓰기
*/

/*서브공통*/
.menu-title{
    text-align: center;
    background-color: white;
    font-family: 'Nanum Gothic', sans-serif; 
    width: 100%;
    height: 75px;

}
.menu-title h3{
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
    line-height: 75px;
}

/*서브공통 끝*/

header .container .menu .menu-li:nth-child(5) a{
    color: #c6c6c6; 
}

.section1{
    background-image: url(img/bg2-4.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 340px;
}
.section2{
    background-color: #161616;
    padding-top: 110px;
    padding-bottom: 120px;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
/*    top60,bottom80*/
}
.section2 .container{
    display: flex;
    max-width: 1200px;
    width: calc(100% - 60px);
    margin: 0 auto;
}
.section2 .store-cont{
    width: 50%;
    margin-right: 40px;
    
}
.section2 .store-cont .input-box{
    width:98%;
    margin: 0 auto;
    overflow: hidden;
}
.section2 .store-cont .input-box input{
    width: 100%;
    outline: none;
    font-weight: 900;
    color: #161616;
}
.section2 .store-cont .input-box span{
    width: 100%;
    height: 2px;
/*    background-color: red;*/
    display: inline-block;
    position: absolute;
}
.section2 .store-cont .input-box .icon1{
    top: 17px; 
}
.section2 .store-cont .input-box .icon2{
    top: 75px; 
}
.section2 .store-cont .input-box i{
    position: absolute;
    z-index: 100;
    color: gray;
    right: 20px;
    top: -3px;
    font-weight: 400;
}
.section2 .store-cont .input-box .box{
    margin-bottom: 15px;
    width: 100%;
    padding: 12px 15px;
    border: none;
}
.section2 .store-cont .input-box .box1{

}
.section2 .store-cont .input-box .box2{
    
}
.section2 .store-cont .store-list{
    padding-left: 5px;
    margin-top: 10px;
    border-top: 2px solid gray;
    width: 100%;
}
.section2 .store-cont .store-list .list{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid rgba(165, 165, 165, 0.11);
}
.section2 .store-cont .store-list .list .text-box{
    
}
.section2 .store-cont .store-list .list .text-box h1{
    font-size: 16px;
    padding-bottom: 10px;
}
.section2 .store-cont .store-list .list .text-box p{
    font-size: 13px;
}
.section2 .store-cont .store-list span{}
.section2 .store-cont .store-list .list i{
    color: gray; font-weight: 400;
    top: 15px; right: 15px;
    font-size: 18px;
}
.section2 .map-cont{
    margin-left: 30px;
    width: 53%;
    height: 580px;
    overflow: hidden;
    text-align: end;
}
.section2 .map-cont img{ 
    width: 100%;
    
}

footer {
    background: white;
}
footer .container2{
    background-color:  rgba(229, 229, 229, 0.5);
}










